In [1]:
# Import dependencies
import pandas as pd

# Import sci-kit leanring modules
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Added SQLalchemy
import sqlalchemy as db
from config import password

# Setup Database Connection and Import Data

In [2]:
# create the connection to the PostgreSQL database.
db_string = f"postgresql://postgres1:{password}@final-project-database.crwsgvv9ibw0.us-east-1.rds.amazonaws.com:5432/final_project_db"
con = db.create_engine(db_string).connect()

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

## General Data

In [3]:
# Import and view data table
data_df = pd.read_sql_table("galveston_data_join",con)
data_df.head()

,beach_id,beach_name,start_lat,start_long,end_lat,end_long,waterbody_type,station_id,station_name,bacteria_count,...,date,week,month,year,avg_temp1,max_temp1,min_temp1,precipitation1,precipitation54,precipitation18
0,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL005,Terramar Beach,40.0,...,2007-01-22,4,1,2007,52.0,53.0,50.0,0.0,NaN,NaN
1,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL005,Terramar Beach,38.0,...,2007-01-22,4,1,2007,52.0,53.0,50.0,0.0,NaN,NaN
2,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL007,Sea Isle South,58.0,...,2007-01-22,4,1,2007,52.0,53.0,50.0,0.0,NaN,NaN
3,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL007,Sea Isle South,48.0,...,2007-01-22,4,1,2007,52.0,53.0,50.0,0.0,NaN,NaN
4,TX974690,Jamaica Beach,29.182981,-94.969426,29.176498,-94.980493,Open Coast,GAL014,Jamaica Beach South,64.0,...,2007-01-22,4,1,2007,52.0,53.0,50.0,0.0,NaN,NaN

In [4]:
data_df.tail()

,beach_id,beach_name,start_lat,start_long,end_lat,end_long,waterbody_type,station_id,station_name,bacteria_count,...,date,week,month,year,avg_temp1,max_temp1,min_temp1,precipitation1,precipitation54,precipitation18
29738,TX163187,Spanish Grant/Bermuda Beach,29.22559,-94.897638,29.211276,-94.921726,Open Coast,GAL027,Spanish Grant Blvd.,5.0,...,2021-12-15,50,12,2021,74.0,79.0,70.0,0.0,NaN,NaN
29739,TX163187,Spanish Grant/Bermuda Beach,29.22559,-94.897638,29.211276,-94.921726,Open Coast,GAL028,Hershey Beach,5.0,...,2021-12-15,50,12,2021,74.0,79.0,70.0,0.0,NaN,NaN
29740,TX163187,Spanish Grant/Bermuda Beach,29.22559,-94.897638,29.211276,-94.921726,Open Coast,GAL028,Hershey Beach,5.0,...,2021-12-15,50,12,2021,74.0,79.0,70.0,0.0,NaN,NaN
29741,TX163187,Spanish Grant/Bermuda Beach,29.22559,-94.897638,29.211276,-94.921726,Open Coast,GAL026,Pabst Rd.,5.0,...,2021-12-15,50,12,2021,74.0,79.0,70.0,0.0,NaN,NaN
29742,TX163187,Spanish Grant/Bermuda Beach,29.22559,-94.897638,29.211276,-94.921726,Open Coast,GAL026,Pabst Rd.,5.0,...,2021-12-15,50,12,2021,74.0,79.0,70.0,0.0,NaN,NaN

## Load Weather Station Data

In [7]:
# Load the Primary Weather Stations Data
wx1_df = pd.read_sql_table("weather_station1",con)
wx18_df = pd.read_sql_table("weather_station18",con)
wx54_df = pd.read_sql_table("weather_station54",con)

,date1,avg_temp1,max_temp1,min_temp1,precipitation1,snowfall1,snow_depth1
0,1946-08-01,NaN,86.0,77.0,0.0,0.0,0.0
1,1946-08-02,NaN,80.0,78.0,0.0,0.0,0.0
2,1946-08-03,NaN,90.0,80.0,0.0,0.0,0.0
3,1946-08-04,NaN,91.0,81.0,0.0,0.0,0.0
4,1946-08-05,NaN,91.0,80.0,0.0,0.0,0.0

In [8]:
wx1_df.head()

,date1,avg_temp1,max_temp1,min_temp1,precipitation1,snowfall1,snow_depth1
0,1946-08-01,NaN,86.0,77.0,0.0,0.0,0.0
1,1946-08-02,NaN,80.0,78.0,0.0,0.0,0.0
2,1946-08-03,NaN,90.0,80.0,0.0,0.0,0.0
3,1946-08-04,NaN,91.0,81.0,0.0,0.0,0.0
4,1946-08-05,NaN,91.0,80.0,0.0,0.0,0.0

In [9]:
wx18_df.head()

      date18  precipitation18
0 2012-09-01             0.01
1 2012-09-02             0.90
2 2012-09-12             0.02
3 2012-09-13             0.02
4 2012-09-14             0.18

In [10]:
wx54_df.head()

      date54  precipitation54
0 2015-02-07              0.0
1 2015-02-08              0.0
2 2015-02-09              0.0
3 2015-02-11              0.0
4 2015-02-12              0.0