In [12]:
# Import dependencies
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Added SQLalchemy
import sqlalchemy as db
from getpass import getpass

# Setup Database Connection

In [13]:
# create the connection to the PostgreSQL database.
password = getpass('Enter database password')
db_string = f"postgresql://postgres1:{password}@final-project-database.crwsgvv9ibw0.us-east-1.rds.amazonaws.com:5432/final_project_db"
con = db.create_engine(db_string).connect()

Enter database password··········

# Import Database Table

In [14]:
# Read beach attributes and create dataframe
beach_attributes_df = pd.read_sql_table("beach_attributes",con)
beach_attributes_df.head()

,beach_id,beach_name,tier,start_lat,start_long,end_lat,end_long,waterbody_type
0,TX710697,25th St.,1,29.298146,-94.777565,29.284662,-94.794776,Open Coast
1,TX214299,45th St.,1,29.284667,-94.794770,29.271917,-94.815865,Open Coast
2,TX486021,61st St.,1,29.271922,-94.815859,29.264091,-94.830244,Open Coast
3,TX327206,Appfel Park,1,29.337451,-94.733010,29.324250,-94.739129,Open Coast
4,TX940700,Caplen,2,29.503046,-94.510477,29.494188,-94.532478,Open Coast

In [15]:
water_quality_df = pd.read_sql_table("water_quality",con)
water_quality_df.head()

,date,year,beach_id,beach_name,station_id,station_name,identifier,start_time,zone_code,bacteria_count,result_measure_unit,result_analytical_method_identifier,result_analytical_method_name
0,2021-12-27,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211227_90752,09:00:00 AM,CDT,7.94,MPN/100ml,19299,ENTEROLERT
1,2021-12-27,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211227_90752,09:00:00 AM,CDT,20.00,MPN/100ml,19299,ENTEROLERT
2,2021-12-15,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211215_90599,09:00:00 AM,CDT,6.30,MPN/100ml,19299,ENTEROLERT
3,2021-12-15,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211215_90599,09:00:00 AM,CDT,5.00,MPN/100ml,19299,ENTEROLERT
4,2021-12-01,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211201_90435,09:00:00 AM,CDT,7.07,MPN/100ml,19299,ENTEROLERT

In [16]:
weather_station1_df = pd.read_sql_table("weather_station1",con)
weather_station1_df

,date1,avg_temp1,max_temp1,min_temp1,precipitation1,snowfall1,snow_depth1
0,1946-08-01,NaN,86.0,77.0,0.00,0.0,0.0
1,1946-08-02,NaN,80.0,78.0,0.00,0.0,0.0
2,1946-08-03,NaN,90.0,80.0,0.00,0.0,0.0
3,1946-08-04,NaN,91.0,81.0,0.00,0.0,0.0
4,1946-08-05,NaN,91.0,80.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...
16978,2022-05-31,86.0,91.0,83.0,0.00,0.0,0.0
16979,2022-06-01,86.0,90.0,81.0,0.00,0.0,0.0
16980,2022-06-02,85.0,93.0,77.0,0.59,0.0,0.0
16981,2022-06-03,83.0,90.0,78.0,0.00,0.0,0.0
16982,2022-06-04,83.0,89.0,80.0,0.00,0.0,0.0

# Merge Water Quality and Weather Station 1 on Date

In [17]:
# Attempt to merge water quality table and weather data
bacteria_wx_df = water_quality_df.merge(weather_station1_df,how="left",left_on="date",right_on="date1")
bacteria_wx_df.head()

,date,year,beach_id,beach_name,station_id,station_name,identifier,start_time,zone_code,bacteria_count,result_measure_unit,result_analytical_method_identifier,result_analytical_method_name,date1,avg_temp1,max_temp1,min_temp1,precipitation1,snowfall1,snow_depth1
0,2021-12-27,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211227_90752,09:00:00 AM,CDT,7.94,MPN/100ml,19299,ENTEROLERT,2021-12-27,73.0,77.0,71.0,0.0,0.0,0.0
1,2021-12-27,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211227_90752,09:00:00 AM,CDT,20.00,MPN/100ml,19299,ENTEROLERT,2021-12-27,73.0,77.0,71.0,0.0,0.0,0.0
2,2021-12-15,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211215_90599,09:00:00 AM,CDT,6.30,MPN/100ml,19299,ENTEROLERT,2021-12-15,74.0,79.0,70.0,0.0,0.0,0.0
3,2021-12-15,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211215_90599,09:00:00 AM,CDT,5.00,MPN/100ml,19299,ENTEROLERT,2021-12-15,74.0,79.0,70.0,0.0,0.0,0.0
4,2021-12-01,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211201_90435,09:00:00 AM,CDT,7.07,MPN/100ml,19299,ENTEROLERT,2021-12-01,67.0,77.0,59.0,0.0,0.0,0.0

# Preprocessing 
## View Data Types

In [ ]:
df.dtypes

date              object
beach_name        object
beach_type        object
bacterica_cts      int64
avg_temp           int64
max_temp           int64
min_temp           int64
precipation      float64
dtype: object

# Drop data from the data set.

In [ ]:
df.drop("date", 1,inplace=True)

c:\Users\david\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [ ]:
df.head()

,beach_name,beach_type,bacterica_cts,avg_temp,max_temp,min_temp,precipation
0,pirate's beach,lagoon,29,59,84,40,0.457607
1,pirate's beach,lagoon,149,64,73,30,0.466136
2,pirate's beach,lagoon,130,63,66,69,0.664975
3,pirate's beach,lagoon,60,48,67,54,0.794012
4,pirate's beach,lagoon,64,46,63,61,1.455917

# Convert Beach Name and Beach type to integers

In [ ]:
df_encoded=pd.get_dummies(df,columns=["beach_name","beach_type"])

In [ ]:
df_encoded.head()

,bacterica_cts,avg_temp,max_temp,min_temp,precipation,beach_name_25th street beach,beach_name_pirate's beach,beach_name_seawall beach,beach_name_west beach,beach_type_lagoon,beach_type_open ocean
0,29,59,84,40,0.457607,0,1,0,0,1,0
1,149,64,73,30,0.466136,0,1,0,0,1,0
2,130,63,66,69,0.664975,0,1,0,0,1,0
3,60,48,67,54,0.794012,0,1,0,0,1,0
4,64,46,63,61,1.455917,0,1,0,0,1,0

In [ ]:
y = df_encoded["bacterica_cts"]

In [ ]:
X= df_encoded.drop("bacterica_cts",1)

c:\Users\david\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

# scale the data using scale.fit_transform
## Scale the data so that all the integers are of similar size.

In [ ]:
scale=StandardScaler()

In [ ]:
X_scaled=scale.fit_transform(X)

In [ ]:
X_scaled

array([[-0.05375312,  1.54730147, -0.97555623, -0.54584478, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [ 0.34738955,  0.02491183, -1.71798867, -0.52550403, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [ 0.26716102, -0.94388158,  1.17749785, -0.05128782, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-0.93626699, -0.80548252,  0.06384919,  0.25645423, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-1.09672406, -1.35907875,  0.5835519 ,  1.83504121, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-1.49786673, -1.63587687,  0.43506541,  0.00770414, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-0.93626699, -0.66708346,  1.47447083,  1.93740631, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [ 1.31013196, -0.80548252, -1.49525893, -0.01984901, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [ 0.50784662,  0.71690712,  1.32598434, -0.63848418, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [ 0.98921782,  0.44010901, -0.60434001,  1.00037912, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-0.53512432,  0.02491183, -1.12404271, -0.14942642, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-1.41763819, -0.66708346, -0.67858325,  1.2353889 , -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-0.13398165,  0.44010901,  0.36082217, -0.7279271 , -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [ 0.26716102,  0.02491183,  1.40022758, -0.2352176 , -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [ 1.06944636,  0.02491183,  0.43506541,  0.02555269, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-1.57809526, -1.77427593,  0.73203839, -1.32419955, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-1.33740966,  1.1321043 ,  0.50930865, -0.86987241, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-0.29443872,  0.57850806,  1.02901136, -0.24634621, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [ 1.06944636, -1.2206797 ,  1.17749785,  0.89059606, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [ 0.66830369, -0.94388158,  1.32598434, -1.18034508, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-0.21421019, -1.63587687, -1.49525893,  0.94683516, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-0.93626699, -0.11348723,  1.25174109, -0.80882471, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-0.85603846, -0.80548252,  0.21233568,  0.9162159 , -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-1.17695259,  0.57850806, -0.53009676,  0.2709526 , -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [-0.85603846, -1.2206797 , -1.56950218, -0.76370722, -0.57735027,
         1.73205081, -0.57735027, -0.57735027,  1.73205081, -1.73205081],
       [ 1.31013196, -0.25188629, -0.97555623, -1.15774186, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [-0.61535286,  0.85530618, -0.01039405,  0.97089071, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 0.42761809,  1.54730147,  0.5835519 , -1.04133132, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 0.98921782,  0.02491183, -1.56950218,  0.45638719, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [-0.85603846, -0.25188629, -0.67858325, -0.71644273, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 0.90898929,  1.27050336, -1.49525893,  0.99155073, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [-0.13398165, -1.63587687, -1.56950218, -1.39940265, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 1.47058903,  0.71690712, -0.90131298, -1.11063204, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 0.66830369,  1.54730147, -0.60434001, -0.65078001, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 0.02647542,  1.1321043 , -0.01039405, -0.13137267, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 1.55081756,  1.1321043 , -0.45585352,  0.75092031, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 0.10670395,  1.1321043 , -0.53009676,  1.68104932, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [-1.49786673,  1.27050336,  1.32598434, -0.02357958, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 1.39036049, -0.80548252, -1.64374542, -0.20215883, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 1.55081756,  0.30170995,  0.73203839,  0.85270548, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [-1.33740966,  1.27050336,  1.02901136,  0.59602204, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 1.39036049,  0.30170995, -0.38161027,  0.06156825, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 1.55081756,  0.02491183,  1.54871407, -0.1473392 , -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 0.10670395, -0.5286844 ,  0.80628163, -1.30503053, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [-1.01649553, -0.39028534,  0.36082217,  0.72611057, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [-0.93626699,  1.54730147,  0.65779514,  1.64208058, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [-0.13398165, -1.49747781, -1.34677245,  1.48788282, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 1.22990343,  0.44010901, -0.30736703, -0.12904993, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 0.74853222,  0.02491183, -0.30736703, -1.39629844, -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 1.22990343,  1.27050336, -0.90131298,  0.7392995 , -0.57735027,
        -0.57735027, -0.57735027,  1.73205081, -0.57735027,  0.57735027],
       [ 0.34738955, -1.49747781,  1.10325461, -0.21866529, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [-0.13398165,  1.40890241,  1.40022758, -1.24120461, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [-1.57809526, -1.35907875,  0.73203839, -0.91910732, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [-0.93626699,  1.68570053, -0.38161027,  1.41834053, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [ 1.55081756, -0.5286844 , -1.04979947, -0.9845124 , -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [ 0.42761809,  0.85530618,  1.17749785, -1.45692241, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [ 1.39036049, -1.2206797 , -1.42101569, -0.36133467, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [-0.61535286,  1.27050336, -0.60434001, -0.7323133 , -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [ 0.18693248,  0.85530618, -1.64374542, -1.07565166, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [ 0.10670395,  0.44010901, -0.75282649,  0.38415758, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [-1.25718113, -0.5286844 , -0.67858325, -0.25672678, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [-0.21421019, -0.80548252,  1.10325461, -1.33792494, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [-1.17695259, -1.63587687,  0.21233568,  1.34844119, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [ 0.26716102, -0.25188629, -1.2725292 , -1.54819297, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [-1.49786673, -0.11348723, -1.49525893,  1.36888996, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [ 0.10670395,  0.57850806,  0.5835519 , -0.94705934, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [-1.25718113,  1.40890241,  1.47447083,  0.70435653, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [ 0.10670395, -0.94388158, -0.15888054, -1.2421417 , -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [-1.49786673, -0.39028534,  0.73203839, -0.40110043, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [-1.17695259,  1.27050336,  0.13809243, -0.3099833 , -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [ 0.10670395,  1.27050336, -1.71798867, -1.16927577, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [ 0.74853222, -1.35907875, -1.04979947,  0.43812368, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [-1.41763819,  0.85530618, -0.38161027, -0.54473455, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [ 0.18693248,  1.27050336, -0.97555623, -1.54336573, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [ 0.50784662, -1.2206797 , -0.30736703, -1.51983961, -0.57735027,
        -0.57735027,  1.73205081, -0.57735027, -0.57735027,  0.57735027],
       [ 0.10670395,  0.30170995,  0.88052487, -0.72944848,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [-1.41763819, -1.35907875, -0.01039405, -1.24737193,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 1.31013196, -0.66708346,  0.73203839,  0.85016081,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [-0.13398165,  0.57850806,  0.06384919,  1.78223535,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 1.6310461 , -1.77427593, -1.04979947,  1.36564049,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [-0.53512432,  1.1321043 ,  1.47447083, -0.66619356,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [-0.45489579, -0.39028534, -1.56950218,  1.50810267,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 0.34738955, -0.25188629, -0.60434001,  0.47789578,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [-1.41763819,  0.30170995,  0.36082217, -1.28684677,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [-1.01649553, -0.5286844 , -1.04979947,  1.59079113,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 0.98921782, -1.49747781,  0.88052487, -0.49462642,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 1.39036049,  0.44010901, -0.67858325,  1.42053554,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 0.90898929, -0.5286844 , -1.12404271,  1.93484074,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [-1.57809526, -0.94388158,  0.80628163,  0.3495787 ,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 0.82876076,  0.30170995,  0.88052487,  1.77997127,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 0.50784662,  0.30170995,  0.43506541, -1.14805853,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 0.98921782, -0.66708346,  0.13809243, -0.72038823,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [-1.49786673, -1.35907875,  0.21233568,  0.07541732,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 1.6310461 ,  1.68570053,  1.62295731,  0.17883804,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 0.58807515, -0.25188629,  0.43506541,  1.20918846,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [-0.77580992,  0.16331089,  0.95476812,  0.82960665,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 1.22990343,  0.02491183,  1.40022758, -1.15395302,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [-1.25718113,  1.68570053,  1.47447083,  0.01335912,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 0.82876076,  1.27050336,  0.50930865,  0.96008008,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027],
       [ 0.74853222, -0.66708346,  1.40022758,  0.48739422,  1.73205081,
        -0.57735027, -0.57735027, -0.57735027, -0.57735027,  0.57735027]])

# Splitting the data into training and testing Data Sets

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
X_train.shape

(75, 10)

In [ ]:
X_test.shape

(25, 10)

# Modeling
## Fit the Model

In [ ]:
lr=LinearRegression()

In [ ]:
Mock_model=lr.fit(X_train,y_train)

# Making Predictions Using the Testing Data

In [ ]:
predictions = Mock_model.predict(X_test)

# Evaluate the Model using score
## At this time our Mock_model does not show any corrilation because it is a randomized data set.

In [ ]:
Mock_model.score(X_test,y_test)

-0.15675499002521587